# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
APIDB/x64/Release/HttpDB.tlog/CL.write.1.tlog
APIDB/x64/Release/HttpDB.tlog/HttpDB.lastbuildstate
APIDB/x64/Release/HttpDB.tlog/HttpDB.write.1u.tlog
APIDB/x64/Release/HttpDB.tlog/link.command.1.tlog
APIDB/x64/Release/HttpDB.tlog/link.read.1.tlog
APIDB/x64/Release/HttpDB.tlog/link.write.1.tlog
APIDB/x64/Release/HttpDB.tlog/CL.command.1.tlog
APIDB/x64/Release/HttpDB.pdb
APIDB/x64/Release/HttpDB.ipdb
APIDB/x64/Release/HttpDB.iobj
APIDB/x64/Release/HttpDB.exe.recipe
APIDB/x64/Release/APIDB.vcxproj.FileListAbsolute.txt
APIDB/x64/Release/APIDB.vcxproj.CopyComplete
APIDB/x64/Release/APIDB.log
APIDB/x64/Debug/vcpkg.applocal.log
APIDB/x64/Debug/vc142.pdb
APIDB/x64/Debug/vc142.idb
APIDB/x64/Debug/HttpDB.tlog/link.write.1.tlog
APIDB/x64/Debug/HttpDB.tlog/link.read.1.tlog
APIDB/x64/Debug/HttpDB.tlog/link.command.1.tlog
APIDB/x64/Debug/HttpDB.tlog/HttpDB.write.1u.tlog
APIDB/x64/Debug/HttpDB.tlog/HttpDB.lastbuildstate
APIDB/x64/Debug/HttpDB.tlog/CL.write.1.tlog
APIDB/x64/Debug/HttpDB.tlog/CL.read.1.tlog
APIDB/x64/Debug/HttpDB.tlog/CL.command.1.tlog
APIDB/x64/Debug/HttpDB.pdb
APIDB/x64/Debug/HttpDB.ilk
APIDB/x64/Debug/HttpDB.exe.recipe
APIDB/x64/Debug/APIDB.vcxproj.FileListAbsolute.txt
APIDB/x64/Debug/APIDB.vcxproj.CopyComplete
APIDB/.vs/HttpDB/v16/.suo
APIDB/.vs/HttpDB/v16/Browse.VC.db
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/1217b752727acbd1/APIDB.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/152d51be06ad85a0/CONTROLLER.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/2422fd2e483bb98f/TOOLS.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/3e518ccf03ee3c15/TOOLS.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/6751e780eefb397f/CONTROLLER.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/6efb7e654c7c4cd1/SERVER.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/785ccdbf85a264d3/SERVER.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/8ed8673de5e2a366/CONTROLLER.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/b4c901a4937443b8/REPOSITORY.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/c4e0befa9a54f4be/REPOSITORY.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/c72f6beab79edb76/REPOSITORY.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/cbee04c3bcb8ca29/SERVER.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/cc0793c4467dd7f8/SERVER.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/db7492c5e1ef8c4f/APIDB.ipch
APIDB/.vs/HttpDB/v16/ipch/AutoPCH/fa718db7b7ef5ebe/CONTROLLER.ipch
